{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="title_for_form">
        <h3>Что такое WordEngAnalyzer?</h3>
    </div>
    <div class="description_block_for_analyzer">
        <p>
            Это не только Анализатор англоязычного текста, это ещё и словарь который
            можно собрать на основе ваших текстовых анализов. На основе словаря вы можете
            тренироваться на знание этих слов со встроенным ботом в разделе тренировка.
        </p>
        <p>
            Анализатор англоязычного текста. Это может понадобится когда есть потребность узнать
            какие англоязычные слова чаще всего встречаются, например, В большой англоязычной статье,
            которую трудно читать по причине не зная многих слов. На странице в разделе "Анализатор"
            есть большое текстовое поле. В него  вы можете вставить текст очень большого размера, после
            отправки страница вернёт "Таблицу" рейтинга повтряемости слов в этом большом тексте.
            Напротив каждого слова в этой таблице есть кнопка "+" либо красного либо зелёного цвета в
            зависимости от того есть данное слово в вашем словаре.
        </p>
        <p>
            Нажатием данной кнопки (если она крассная) вы можете добавить это слово в свой словарь.
            Свой словарь в виде таблицы с переводами всех слов вы можете просматривать в разделе словарь.
        </p>
    </div>
{% endblock %}