{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="title_for_form">
        <h3>Мой словарь</h3>
    </div>
    <div class="table_for_dictionary_block">
        <div class="tool_bar_for_dictionary_block">
            <div class="content_for_tool_bar">
                <div class="title_for_tool_bar_block">
                    <p>Режимы отображения</p>
                </div>
                 <div class="button_for_mode_view_block">
                     <form method="post">
                         <div class="button_show_all_block">
                             <button name="1" class="button_show_all">
                                Англ+Рус
                             </button>
                         </div>
                         <div class="button_show_only_eng_block">
                             <button name="2" class="button_show_only_eng">
                                Только Англ
                             </button>
                         </div>
                         <div class="button_show_only_eng_block">
                             <button name="3" class="button_show_only_eng">
                                 Только Рус
                             </button>
                         </div>
                     </form>
                 </div>
            </div>
        </div>
        <table class="table_for_dictionary">
            {% if articles.button == 1 %}
                {% for x in articles.table %}
                <tr class="table_row_for_dictionary">
                    <td class="table_column_for_dictionary">{{ x.eng_word }}</td>
                    <td class="table_column_for_dictionary">{{ x.rus_word }}</td>
                </tr>
                {% endfor %}
            {% elif articles.button == 2 %}
                {% for x in articles.table %}
                <tr class="table_row_for_dictionary">
                    <td class="table_column_for_dictionary">{{ x.eng_word }}</td>
                    <td class="table_column_for_dictionary">-----</td>
                </tr>
                {% endfor %}
            {% elif articles.button == 3 %}
                {% for x in articles.table %}
                <tr class="table_row_for_dictionary">
                    <td class="table_column_for_dictionary">-----</td>
                    <td class="table_column_for_dictionary">{{ x.rus_word }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}