{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="title_for_form">
        <h3>Результат</h3>
    </div>
    <div class="small_form_block">
        <form method="post">
            <div class="form_left_block">
                <input type="text" class="field_for_small_form">
            </div>
            <div class="form_middle_block">
                <input type="text" class="field_for_small_form">
            </div>
            <div class="form_right_block">
                <button class="button_for_save_word">
                    +
                </button>
            </div>
        </form>
    </div>
{% endblock %}